@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100dvw;
  height: 100dvh;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: grid;
  place-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}